@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Raleway", sans-serif;

}
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(25, end)  infinite ;
  }
@keyframes typing {
    from {width : 0;}
    to {width: 25ch;}   
}


.typeicon {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid orange; The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typingicon 5s steps(25, end) alternate infinite ;
  }
@keyframes typingicon {
    from {width : 0;}
    to {width: 100%;}
    
}



.animate-shine{
    background-size: 200% auto;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0%{ background-position: 0% 50%;}
    100%{ background-position: 200% 50%;}
}
